* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Greta Sans Condensed Bold", "Greta Sans Bold", Arial, sans-serif;
}

.container {
    width: 1290px;
    margin: auto;
    height: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-6 {
    width: calc(100% / 6);
}